<header class="header">
    <div>
        {{> logo}}
    </div>
    <nav class="header_nav">
        <div class="header_nav_right">
            {{> nav list=header}}
        </div>
    </nav>
</header>

<div class="main">
    {{#with main}}
    {{> mainHero}}
    {{/with}}
</div>

<div class="featured">
    {{#each featured}}
    {{> cardFeatured data=this}}
    {{/each}}
</div>

<div class="actions">
    {{#each actions}}
    {{> actionsLink data=this}}
    {{/each}}
</div>

<footer class="footer">
    <div>
        {{> logo}}
        <span class="footer_copyright">Copyright 2023-2024</span>
    </div>

    {{#each footer}}
    <div>
        <span class="footer_title">{{title}}</span>
        {{> nav list=links isVertical=true}}
    </div>
    {{/each}}
</footer>