:root {
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;

  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;

  --color-border: #DEE2E6;
  --color-primary: rgb(53, 53, 189);
  --color-white: #ffffff;
  --color-title: #212529;
  --color-text: #343A40;

  --radius: 12px;

  --weight-title: 500;
  --weight-text: 400;

  --width-button: 240px;
}

/* =========================================== */

.page {
    background: var(--color-white);
    padding: 0 15px;

    display: flex;
    justify-content: center;
    font-family:'Roboto', sans-serif;
  }
  
  .page_content {
    max-width: 960px;
    width: 100%;  

    display: flex;
    flex-direction: column;

    gap: 80px;
  }

  /* =========================================== */
  
  .header {
  padding: var(--space-l) 0;  
  border-bottom: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;
  }
  
  .logo {
    font-size: 17px;
    color: var(--color-white);
    background: var(--color-primary);
    width: 24px;
    height: 24px;
    border-radius: calc(var(--radius) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
  } 
    
  .nav {
  display: flex;
  }

  .nav_inline {
    gap: var(--space-l);
  }
  
  .nav_link {
  color: var(--color-text);
  font-size: var(--size-d);
  text-decoration: none;

  line-height: 100%;
  }

  .nav_vertical {
    gap: var(--space-xm);
    flex-direction: column;
  }
  
  .nav_link:hover {
    text-decoration: underline;
    color: blue;
  }   
      
    .page_block:not(:last-child) {
  margin-bottom: 80px;
    }
  
    .footer {
      padding: var(--space-l) 0;
  
      border-top: 1px solid var(--color-border);

      display: flex;

      justify-content: space-between;

      
    }
  
    .footer_copyright {
      font-size: var(--size-s);
      color: var(--color-text);
  
      display: block;
  
      margin-top: var(--space-l);
    }
  
    .footer_title {
      font-size: var(--size-l);
      color: var(--color-title);
      display: block;
      margin-bottom: var(--space-l);

      font-weight: var(--weight-title);
    }

    /* =========================================== */

    .main {
      display: flex;
      align-items: center;
      gap: var(--space-b);

      padding: var(--space-b);
      
    }

    .main_image {
      width: 500px;
      height: 500px;

      border-radius: var(--radius);
    }

    .main_content {
      display: flex;
      flex-direction: column;
      gap: var(--space-l);
    }

    .main_title {
      font-size: 36px;
      color: var(--color-title);
      font-weight: var(--weight-title);
      line-height: 120%;
    }

    .main_text {
      font-size: var(--size-l);
      color: var(--color-text);
      font-weight: var(--weight-title);
      line-height: 170%;
    }

    .main_button {              
      background-color: #6c757d;
      width: fit-content;

      color: var(--color-white);
      font-weight: var(--weight-text);     
    }

    /* =========================================== */

    .featured {
      display: flex;             
      
      padding: var(--space-b);  
      gap: var(--space-b);
      
      border-bottom: 1px solid var(--color-border); 
      
      
    }

    .card_image {
      height: 64px;
      width: 64px;
      border-radius: var(--radius);
    }

    .card_title {
      font-size: 32px;
      font-weight: var(--weight-title);
    }

    .card {
      display: flex;
      flex-direction: column; 
      padding: 0 var(--space-l);
      
      align-items: flex-start;
      text-align: start;
      gap: var(--space-l);   
      width: 100%;           
    }

    .card_text {
      display: flex;
      justify-content:center;
      font-size: var(--size-d);      
      
    }

    .card_button {      
      justify-items: flex-end;
      font-size: var(--size-d);
      color: var(--color-primary);

      font-weight: var(--weight-text);
    }

    .card_button:hover {
      opacity: 0.7;
    }
    
    /* =========================================== */
    .button {
      display: inline-block;
      font-size: var(--size-d);
      text-decoration: none;
      padding: var(--space-m) var(--space-xm);
      border-radius: var(--radius);
    }  
    
    .button:hover {
      opacity: 0.7;
    }

    /* =========================================== */
  
    .actions {
      display: flex;
      justify-content:space-between;
      background-color: var(--color-primary);     
      
      padding: var(--space-l);  
      gap: var(--space-xm);
      
      border-bottom: 1px solid var(--color-border);  
    }

    .actions_heading {      
      font-size: 24px;
      font-weight: var(--weight-title);
      line-height: 16px;
      color: var(--color-white);
    }  

    .actions_content {
      display: flex;
      flex-direction: column;
     
      align-items: flex-start;
      text-align: start;
      gap: var(--space-m);
    }      

    .actions_button {
      justify-items: flex-end;
      background-color: var(--color-white);            
      color: var(--color-title);
      text-align: center;
      width: var(--width-button);      
    }