:root {
    --color-page: #111827;
    --color-white: #ffffff;
    --color-button: #885FFB;
    --color-border: #253041;
    --color-text:  #9CA3AF;
    --color-background: #272B30;

    --size-s: 14px;
    --size-d: 16px;
    --size-b: 24px;
    --size-l: 32px;

    --space-xxxs-: 2px;
    --space-xxs-: 6px;
    --space-xs-: 8px;
    --space-s: 12px;
    --space-d: 16px;
    --space-b: 20px;
    --space-l: 32px;

    --border-radius-xs: 4px;
    --border-radius-s: 10px;
    --border-radius-l: 24px;

    --font-weight-text: 400;
    --font-weight-title: 700;
}

.page {
    background-color: var(--color-page);
    padding: 0 10px;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    font-family:'Roboto', sans-serif;
    
}

.page_content {
    background-color: var(--color-page);

    max-width: 1150px;
    width: 100%;
    
    height: 100%;    

    display: flex;
    flex-direction: column;

    gap: 60px;
}

.header {
    display: flex;
    flex-direction: column;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-s) 0;    

    border-bottom: 1px solid var(--color-border);    
}

.darkLogo {
    display: flex;    
    justify-content: center;
    align-items: center;
  
    font-size: var(--size-s);
    font-weight: var(--font-weight-title);
    color: #FFFFFF;
    background: var(--color-button);
  
    width: 56px;
    height: 30px;
  
    border-radius: var(--border-radius-s);    

    padding: var(--space-xs-) var(--space-s);    
}

.nav {
    display: flex;
    gap: 24px;
}
  .nav_link {
    color: var(--color-white);
    font-size: var(--size-d);
    text-decoration: none;  
    line-height: 100%;  
    
    transition-duration: 0.7s;    
}

.nav_link:hover {
    color: var(--color-button);   
    opacity: 0.7;
}

.ad {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: var(--space-s);
    gap: var(--space-xs-);
}

.ad_main {
    display: flex;
}

.ad_logo {
    display:flex ;
    align-items: center;
    padding: var(--space-xxxs-) var(--space-xxs-);

    width: 30px;
    height: 18px;
    border-radius: var(--border-radius-xs);
    background: rgba(136, 95, 251, 0.2);

    font-size: var(--size-s);
    color: var(--color-button);
    font-weight: var(--font-weight-title);    
}

.ad_text {
    display: flex;
    align-items: center;

    font-size: var(--size-s);
    color: var(--color-white);    
    font-weight: var(--font-weight-text);
    padding-left: var(--space-xxs-);

    white-space: nowrap;  
}

.ad_link {       
    text-decoration: none;    
    color: var(--color-white);
   
    padding-left: var(--space-xxxs-);

    transition-duration: 1.5s;
}

.ad_link:hover {
    color: var(--color-button);    

    opacity: 0.7;
}

.users_item {
    font-size: var(--size-s);
    color: var(--color-white);
    font-weight: var(--font-weight-text);    

    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 300px;
    height: 100%;

    padding: var(--space-l);
    gap: var(--space-b);
    background: radial-gradient(100% 625% at 100% 100%,
    rgba(17, 24, 39, 0) 0%, rgba(78, 63, 146, 0.6) 100%);

    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.1));
    border-radius: var(--border-radius-l);

    color: var(--color-white);    
}

.hero_title {      
    text-align: center;

    font-size: var(--size-l);
    font-weight: var(--font-weight-title);
    color: var(--color-white);
}

.hero_text {    
    text-align: center;

    font-size: var(--size-d);
    font-weight: var(--font-weight-text);
    color: var(--color-text);
    line-height: 150%;
}

.hero_button {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    width: 150px;
    height: 40px;
    background: var(--color-button);

    border-radius: var(--border-radius-s);
    
    transition-duration: 0.7s;
}

.hero_button_text {
    font-size: var(--size-d);
    font-weight: var(--font-weight-title);
    color:var(--color-white);

    padding: var(--space-s) var(--space-l);
}

.hero_button:hover {
    opacity: 0.7;    
}

.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    min-height: 186px;
    height: 100%;

    padding: var(--space-l);
    gap: var(--space-d);

    background: rgba(42, 49, 65, 0.44);
    backdrop-filter: blur(25px);

    border-radius: var(--border-radius-l);
}

.about_title {
    width: 600px;

    font-size: var(--size-b);
    font-weight: var(--font-weight-title);
    color: var(--color-white);
}

.about_text {
    font-family: 'Inter', sans-serif;
    font-size: var(--size-s);
    font-weight: var(--font-weight-text);

    line-height: 170%;
    color: var(--color-text);
}

.articles_header {
    display: flex;
    flex-direction: column;
    
}

.articles_header_title {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    
}

.articles_title {
    font-size: var(--size-l);
    color: var(--color-white);
}

.articles_header_button {
    width: 100px;
    height: 40px;

    border: 1px solid var(--color-text);
    border-radius: var(--border-radius-s);

    transition-duration: 0.7s;
    
}

.articles_header_button:hover {
    background-color: var(--color-button);
    opacity: 0.7;
}

.articles_header_button_text {
    font-size: var(--size-d);
    font-weight: var(--font-weight-title);
    color: var(--color-white);
}

.articles {   
    display: flex;
    flex-direction: column;
    gap: var(--space-l);    
}

.articles_card_list {
    display: flex; 
        
    
    gap: var(--space-l);    
}

.articles_card {
    display: flex;
    flex-direction: column; 
    
    background: var(--color-page);

    gap: var(--space-d);    
}

.articles_card > img {   
    flex: 1;
    object-fit: cover;
    width: 100%;
    height: auto;    
}

.articles_photo {
    display: flex;
    
    background: var(--color-background);
    border-radius: var(--border-radius-l);   
}


.badge_list {
    display: flex;

    position: relative;
}

.articles_badge {
    display: flex;
    max-width: 47px;
    max-height: 20px;

    width: auto;
    height: auto;
    
    padding: var(--space-xxxs-) var(--space-xxs-);

    background: rgba(251, 95, 95, 0.5);
    border-radius: var(--border-radius-xs);

    position: absolute; 
    right: calc(10% - 30px);
    bottom: calc(10% - 210px);
   
    z-index: 1;   
}

.badge {
    font-size: var(--size-d);
    font-weight: var(--font-weight-title);

    color: var(--color-white);
}

.articles_name {
    font-size: 18px;
    font-weight: var(--font-weight-title);

    color: var(--color-white);
}

.articles_description {
    font-size: var(--size-s);
    font-weight: var(--font-weight-text);
    line-height: 150%;

    color: var(--color-text);
}

.articles_button {
    width: 85px;
    height: 30px;

    background: var(--color-button);
    border-radius: var(--border-radius-s);

    transition-duration: 0.7s;
}

.articles_button_name {
    font-size: var(--size-s);
    font-weight: var(--font-weight-title);

    color: var(--color-white);    
}

.articles_button:hover {
    opacity: 0.7;
}

.footer {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--color-border);
    padding-top: var(--space-d);
    padding-bottom: var(--space-l);   
}

.footer_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.footer_links {
    display: flex;
    color: var(--color-white);

    gap: var(--space-d);
}

.footer_copyright {
    color: var(--color-white);
}